<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.AddinsititutionTest"/>
      <class name="testcases.MilestoneTest"/>
      <class name="testcases.Logintest"/>
      <class name="testcases.DashboardTest"/>
      <class name="testcases.AddvisitTest"/>
      <class name="testcases.VisitlogTest"/>
      <class name="testcases.ProfileViewtest"/>
      <class name="testcases.UpcomingVisitTest"/>
      <class name="testcases.ContactPersonTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
